{% extends "base.html.twig" %}

{% block body %}

    <h1>View details for item #{{ item.id }}</h1>

    <table>
        <tr>
            <td>Actions:</td>
            <td><a href="{{ url('app_item_edit', {id: item.id}) }}">Edit</a></td>
        </tr>
        <tr>
            <td>id:</td>
            <td>{{ item.id }}</td>
        </tr>
        <tr>
            <td>SKU:</td>
            <td>{{ item.sku }}</td>
        </tr>
        <tr>
            <td>Price:</td>
            <td>{{ item.price }}</td>
        </tr>

        <tr>
            <td colspan="2">
                <h2>Prices</h2>
                <a href="{{ url('app_promotion_create', { id: item.id}) }}">Add promotion</a>
                <table>
                    <tr>
                        <td>id</td>
                        <td>quantity</td>
                        <td>price</td>
                        <td>is_active</td>
                        <td>actions</td>
                    </tr>

                    {% for promotion in item.promotions %}
                        <tr>
                            <td>{{ promotion.id }}</td>
                            <td>{{ promotion.quantity }}</td>
                            <td>{{ promotion.price }}</td>
                            <td>{{ promotion.isactive }}</td>
                            <td><a href="{{ url('app_promotion_edit', {id: promotion.id}) }}">Edit</a></td>
                        </tr>

                    {% endfor %}
                </table>
            </td>
        </tr>

    </table>


{% endblock %}