{% extends 'base.html.twig' %}

{% block title %}Invoice{% endblock %}

{% block body %}
    <h1>Invoice #{{ invoice.id }}</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>

        {% set invoiceItemNumber = 0 %}
        {% for invoiceItem in invoice.invoiceItems %}
            {% set invoiceItemNumber = invoiceItemNumber + 1 %}
            <tr>
                <th scope="row">{{ invoiceItemNumber }}</th>
                <td>{{ invoiceItem.product.sku }}</td>
                <td>{{ invoiceItem.quantity }}</td>
                <td>{{ invoiceItem.price|number_format(2, '.', ' ') }} €</td>
            </tr>
        {% endfor %}

        <tr>
            <th scope="row"  colspan="3">Total</th>

            <td>{{ invoice.total|number_format(2, '.', ' ') }} €</td>
        </tr>
        </tbody>
    </table>


{% endblock %}